[submodule "project-name/lib/forge-std"]
	path = project-name/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "vlayer/lib/openzeppelin-contracts"]
	path = vlayer/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
